.header
{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid rgb(233, 233, 233);
    z-index:100;
}

.left-section
{
    display: flex;
    align-items: center;
}
.middle-section
{
    
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.right-section
{
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-shrink: 0;
}

.hamburger-menu
{
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.youtube-logo{
height: 20px;
}


.search-btn
{
    height: 40px;
    width: 66px;
    border: 1px solid rgb(198, 197, 197);
    background-color:rgb(237, 235, 235);
    margin-left: -1px;
    margin-right: 10px;
}

.voice-search-btn{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(243, 243, 243);
}

.voice-search-btn  img{
    height: 24px;
    margin-top: 4px;
    
}

.search_bar
{
    flex: 1;
    padding-left: 10px;
    height: 36px;
    font-size: 16px;
    border: 1px solid rgb(198, 197, 197);
    border-radius: 2px;
    width: 0;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}


.search_bar::placeholder{
    font-family: Roboto;
    font-size: 16px;
    
}   

.search-btn img{
 height: 25px;
 margin-top: 4px;
}


.upload-icon
{
    height: 24px;
}

.youtube-apps-icon
{
    height: 24px;
}

.notification-icon
{
    height: 24px;
    position: relative;
}


.current-user-picture{
    height: 30px;   
    border-radius: 16px;
    margin-right: 20px;
}


.notifcation-icon-container
{
    position: relative;
}

.notification-count
{
    position: absolute;
    top: -2px;
    right: -5px;
    font-family: Roboto;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 10px;
   background-color: red;
   color: white;
   

}


